<html>
    <head>
        <!--This begins an if/else statement-->
        {% if title %}
        <!--Jinja2 will take a supplied title and place it here.-->
        <title>{{ title }} - alexmacniven.dev</title>
        {% else %}
        <title>alexmacniven.dev</title>
        {% endif %}
    </head>
    <body>
        <div>alexmacniven.dev 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>